<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880503409820-0snc8ajk0edfjl8v5erpd4kq1vog0qf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880503409820-0snc8ajk0edfjl8v5erpd4kq1vog0qf4</string>
	<key>API_KEY</key>
	<string>AIzaSyAKHrC8PyOvKqkK9B_slaUxCdvlXMC1EN4</string>
	<key>GCM_SENDER_ID</key>
	<string>880503409820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Louise-Kim.EagleBuddy</string>
	<key>PROJECT_ID</key>
	<string>eaglebuddy-12c80</string>
	<key>STORAGE_BUCKET</key>
	<string>eaglebuddy-12c80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880503409820:ios:fd9352a050a434aaafb159</string>
</dict>
</plist>